@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --font-family: "Space Mono", monospace;
  --card-bg-color: hsl(0, 0%, 100%);
  --tip-inactive-bg-color: hsl(172, 67%, 45%);
  --tip-inactive-text-color: hsl(0, 0%, 100%);
  --tip-active-text-color: ;
  --tip-output-bg-color: hsl(172, 67%, 45%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: #000;
  min-height: 100vh;
}

.tip-app-body {
  background-color: var(--card-bg-color);
  padding: 1.5em;
  border-radius: 16px;
  display: grid;
}
