@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --font-family: "Space Mono", monospace;
  --card-bg-color: hsl(0, 0%, 100%);
  --tip-inactive-bg-color: hsl(172, 67%, 45%);
  --tip-inactive-text-color: hsl(0, 0%, 100%);
  --tip-active-text-color: ;
  --tip-output-bg-color: hsl(172, 67%, 45%);
  --body-bg: hsl(185, 41%, 84%);
  --input-bg-color: hsl(189, 41%, 97%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--body-bg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 2px;
}

input {
  border: none;
  background-color: var(--input-bg-color);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
  color: hsl(183, 100%, 15%);
  background-color: var(--input-bg-color);
  padding: 0.5em;
  text-align: right;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input::placeholder {
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  color: hsl(186, 14%, 43%);
  text-align: center;
}

input:focus {
  outline-color: hsl(172, 67%, 45%);
}

label,
legend {
  font-size: 14px;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}

button {
  text-transform: uppercase;
  border: none;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  font-family: inherit;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.8;
  letter-spacing: 1.5px;
  background-color: hsl(172, 67%, 45%);
}

.tip-app-body {
  max-width: 600px;
  background-color: var(--card-bg-color);
  padding: 1.5em;
  border-radius: 16px;
  display: grid;
  grid-template: 1fr 2fr 1fr 2fr / 1fr;
  grid-template-areas:
    "bill"
    "tip"
    "qty"
    "output";
  gap: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gross-bill {
  grid-area: bill;
}

.select-tip {
  grid-area: tip;
}

.contributer-quantity {
  grid-area: qty;
}

.total-output {
  grid-area: output;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#gross-bill-input {
  background-image: url(../images/icon-dollar.svg);
}

#contributer-quantity-input {
  background-image: url(../images/icon-person.svg);
}

#gross-bill-input,
#contributer-quantity-input {
  background-repeat: no-repeat;
  background-position: 0.5em;
}

/* SELECT TIP */
.select-tip {
  display: flex;
  flex-direction: column;
  border: none;
}

.select-tip-head {
  text-transform: capitalize;
}

.select-tip-body {
  display: grid;
  grid-template: 1fr 1fr 1fr / 48% 48%;
  gap: 0.6em;
}

.select-tip-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(183, 100%, 15%);
  border-radius: 4px;
}

.select-tip-item label {
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select-tip-item label,
.select-tip-item-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.select-tip-item-input {
  z-index: -1;
}

/* TOTAL OUTPUT */

.total-output {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  background-color: hsl(183, 100%, 15%);
  border-radius: 12px;
}

.output-amount-wrap {
  display: flex;
  justify-content: space-between;
}

.output-amount-head {
  display: flex;
  flex-direction: column;
}

.output-amount-title {
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.output-amount-subtitle {
  font-size: 14px;
  color: hsl(186, 14%, 43%);
  font-weight: 700;
}

.output-amount {
  font-size: 24px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}

@media (min-width: 768px) {
  .select-tip-body {
    display: grid;
    grid-template: 1fr 1fr / repeat(3, minmax(55px, 1fr));
    gap: 0.5em;
  }
}

@media (min-width: 1280px) {
  .tip-app-body {
    grid-template: 1fr 1.5fr 1fr / repeat(2, minmax(200px, 1fr));
    grid-template-areas:
      "bill output"
      "tip output"
      "qty output";
    gap: 1.5em;
  }

  /* SELECT TIP */

  /* TOTAL OUTPUT */

  .total-output {
    justify-content: space-between;
  }
}
